body {
  background-color: bisque;
}
.para {
  background-color: white;
  width: 300px;
  height: 405px;
  margin-right: 200px;
  display: inline-block;
  padding-left: 20px;
}

button {
  width: 200px;
  margin-left: 40px;
  margin-top: auto;
}
.price {
  font-size: 30px;
  float: left;
  margin-right: 20px;
  color: green;
}
.del {
  float: right;
  margin-left: 40px;
  margin-right: 20%;
  margin-top: 20px;
}
img {
  float: left;
}
/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.font {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.box {
  font-family: Courier New;
}
